section.sectionHero
  div.container
    picture.sectionHero__img
      source(srcset="img/header_desktop.png" media="(min-width: 600px)")
      img.sectionHeroImg__inner(src="img/header_mobile.png" alt="一個美味的大漢堡")
    .sectionHero__content
      h1.sectionHeroContent__heading 咬一口就無法忘懷的漢堡
      p.sectionHeroContent__paragraph 七夕絕對無法錯過的好滋味，六角大漢堡 