.container.store
    aside
        h2.store__heading
            svg(fill="currentColor" style="margin-top: -5px" xmlns='http://www.w3.org/2000/svg' height='40' width='40')
                path(d='M8.917 32.708Q7.083 30.833 6.042 28.375Q5 25.917 5 23.292Q5 20.417 6.042 17.875Q7.083 15.333 9.25 13.167Q10.708 11.708 12.875 10.688Q15.042 9.667 17.979 9.104Q20.917 8.542 24.646 8.396Q28.375 8.25 32.958 8.583Q33.292 13.042 33.167 16.771Q33.042 20.5 32.479 23.479Q31.917 26.458 30.896 28.667Q29.875 30.875 28.375 32.375Q26.25 34.542 23.771 35.604Q21.292 36.667 18.583 36.667Q15.75 36.667 13.292 35.667Q10.833 34.667 8.917 32.708ZM13.333 32.458Q14.417 33.167 15.771 33.521Q17.125 33.875 18.583 33.875Q20.708 33.875 22.708 33.021Q24.708 32.167 26.417 30.417Q27.417 29.417 28.208 27.75Q29 26.083 29.521 23.708Q30.042 21.333 30.25 18.208Q30.458 15.083 30.292 11.167Q27 11.083 24.062 11.208Q21.125 11.333 18.708 11.792Q16.292 12.25 14.375 13.042Q12.458 13.833 11.25 15.083Q9.458 16.917 8.625 18.854Q7.792 20.792 7.792 22.75Q7.792 24.917 8.667 26.979Q9.542 29.042 10.625 30.208Q12.667 26.375 15.688 23.188Q18.708 20 22.292 18.083Q18.875 21.042 16.625 24.583Q14.375 28.125 13.333 32.458ZM13.333 32.458Q13.333 32.458 13.333 32.458Q13.333 32.458 13.333 32.458Q13.333 32.458 13.333 32.458Q13.333 32.458 13.333 32.458Q13.333 32.458 13.333 32.458Q13.333 32.458 13.333 32.458Q13.333 32.458 13.333 32.458Q13.333 32.458 13.333 32.458Q13.333 32.458 13.333 32.458Q13.333 32.458 13.333 32.458ZM13.333 32.458Q13.333 32.458 13.333 32.458Q13.333 32.458 13.333 32.458Q13.333 32.458 13.333 32.458Q13.333 32.458 13.333 32.458Q13.333 32.458 13.333 32.458Q13.333 32.458 13.333 32.458Q13.333 32.458 13.333 32.458Q13.333 32.458 13.333 32.458Q13.333 32.458 13.333 32.458Q13.333 32.458 13.333 32.458Q13.333 32.458 13.333 32.458Q13.333 32.458 13.333 32.458Q13.333 32.458 13.333 32.458Q13.333 32.458 13.333 32.458Q13.333 32.458 13.333 32.458Q13.333 32.458 13.333 32.458Q13.333 32.458 13.333 32.458Q13.333 32.458 13.333 32.458Q13.333 32.458 13.333 32.458Q13.333 32.458 13.333 32.458Z')

            | 線上訂購美食        

        ul.store__list
            li.store__item
                a.store__link(href="#") 全部 (23)
            li.store__item
                a.store__link(href="#") 只愛吃薯條 (18)
            li.store__item
                a.store__link(href="#") 加熱就可食 (1)
            li.store__item
                a.store__link(href="#") 不敗漢堡系列 (4)
    

    .store__inner
        .store__toolbar
            .searchbar
                input.searchbar__input(type="text" placeholder="請輸入您想搜尋的美食")
                button.btn.btn--primary.searchbar__btn
                    svg(xmlns='http://www.w3.org/2000/svg' style="margin-top: 2px" fill='currentColor' height='24' width='24')
                        path(d='M19.6 21 13.3 14.7Q12.55 15.3 11.575 15.65Q10.6 16 9.5 16Q6.775 16 4.888 14.113Q3 12.225 3 9.5Q3 6.775 4.888 4.887Q6.775 3 9.5 3Q12.225 3 14.113 4.887Q16 6.775 16 9.5Q16 10.6 15.65 11.575Q15.3 12.55 14.7 13.3L21 19.6ZM9.5 14Q11.375 14 12.688 12.688Q14 11.375 14 9.5Q14 7.625 12.688 6.312Q11.375 5 9.5 5Q7.625 5 6.312 6.312Q5 7.625 5 9.5Q5 11.375 6.312 12.688Q7.625 14 9.5 14Z')
                        
            .checkout
                span 結帳去
                span.checkout__divider
                button.btn.checkout__btn
                    svg(xmlns='http://www.w3.org/2000/svg' fill="currentColor" height='24' width='24')
                        path(d='M7 22Q6.175 22 5.588 21.413Q5 20.825 5 20Q5 19.175 5.588 18.587Q6.175 18 7 18Q7.825 18 8.412 18.587Q9 19.175 9 20Q9 20.825 8.412 21.413Q7.825 22 7 22ZM17 22Q16.175 22 15.588 21.413Q15 20.825 15 20Q15 19.175 15.588 18.587Q16.175 18 17 18Q17.825 18 18.413 18.587Q19 19.175 19 20Q19 20.825 18.413 21.413Q17.825 22 17 22ZM6.15 6 8.55 11H15.55Q15.55 11 15.55 11Q15.55 11 15.55 11L18.3 6Q18.3 6 18.3 6Q18.3 6 18.3 6ZM5.2 4H19.95Q20.625 4 20.875 4.5Q21.125 5 20.85 5.55L17.3 11.95Q17.025 12.45 16.575 12.725Q16.125 13 15.55 13H8.1L7 15Q7 15 7 15Q7 15 7 15H19V17H7Q5.875 17 5.3 16.012Q4.725 15.025 5.25 14.05L6.6 11.6L3 4H1V2H4.25ZM8.55 11H15.55Q15.55 11 15.55 11Q15.55 11 15.55 11Z')
                    span.checkout__number 8

        .store__gallery 
            article.storeCard(href="#")
                button.btn.storeCard__heart(x-data="{ liked: false }")
                    span(x-show="liked" @click="liked = !liked") ♥
                    span(x-show="!liked" @click="liked = !liked") ♡

                img.storeCard__img(width="300" height="120" src="img/product_1.png", alt="經典漢堡套餐")
                .storeCard__content
                    a(href="#")
                        h3.storeCard__title
                            | 經典漢堡套餐
                            div.storeCard__subtitle Classic Hamburger Package
                    .div.storeCard__price 120 $NTD
                    button.btn.btn--cta.btn--ghost.btn--block.storeCard__btn
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="24" width="24"><path d="M7 22Q6.175 22 5.588 21.413Q5 20.825 5 20Q5 19.175 5.588 18.587Q6.175 18 7 18Q7.825 18 8.412 18.587Q9 19.175 9 20Q9 20.825 8.412 21.413Q7.825 22 7 22ZM17 22Q16.175 22 15.588 21.413Q15 20.825 15 20Q15 19.175 15.588 18.587Q16.175 18 17 18Q17.825 18 18.413 18.587Q19 19.175 19 20Q19 20.825 18.413 21.413Q17.825 22 17 22ZM6.15 6 8.55 11H15.55Q15.55 11 15.55 11Q15.55 11 15.55 11L18.3 6Q18.3 6 18.3 6Q18.3 6 18.3 6ZM5.2 4H19.95Q20.625 4 20.875 4.5Q21.125 5 20.85 5.55L17.3 11.95Q17.025 12.45 16.575 12.725Q16.125 13 15.55 13H8.1L7 15Q7 15 7 15Q7 15 7 15H19V17H7Q5.875 17 5.3 16.012Q4.725 15.025 5.25 14.05L6.6 11.6L3 4H1V2H4.25ZM8.55 11H15.55Q15.55 11 15.55 11Q15.55 11 15.55 11Z"/></svg>
                        | 加入購物車

            article.storeCard(href="#")
                button.btn.storeCard__heart(x-data="{ liked: false }")
                    span(x-show="liked" @click="liked = !liked") ♥
                    span(x-show="!liked" @click="liked = !liked") ♡

                img.storeCard__img(width="300" height="120" src="img/product_1.png", alt="經典漢堡套餐")
                .storeCard__content
                    a(href="#")
                        h3.storeCard__title
                            | 英俊香腸
                            div.storeCard__subtitle Handsome Sausage
                    .div.storeCard__price 1024 $NTD
                    button.btn.btn--cta.btn--ghost.btn--block.storeCard__btn
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="24" width="24"><path d="M7 22Q6.175 22 5.588 21.413Q5 20.825 5 20Q5 19.175 5.588 18.587Q6.175 18 7 18Q7.825 18 8.412 18.587Q9 19.175 9 20Q9 20.825 8.412 21.413Q7.825 22 7 22ZM17 22Q16.175 22 15.588 21.413Q15 20.825 15 20Q15 19.175 15.588 18.587Q16.175 18 17 18Q17.825 18 18.413 18.587Q19 19.175 19 20Q19 20.825 18.413 21.413Q17.825 22 17 22ZM6.15 6 8.55 11H15.55Q15.55 11 15.55 11Q15.55 11 15.55 11L18.3 6Q18.3 6 18.3 6Q18.3 6 18.3 6ZM5.2 4H19.95Q20.625 4 20.875 4.5Q21.125 5 20.85 5.55L17.3 11.95Q17.025 12.45 16.575 12.725Q16.125 13 15.55 13H8.1L7 15Q7 15 7 15Q7 15 7 15H19V17H7Q5.875 17 5.3 16.012Q4.725 15.025 5.25 14.05L6.6 11.6L3 4H1V2H4.25ZM8.55 11H15.55Q15.55 11 15.55 11Q15.55 11 15.55 11Z"/></svg>
                        | 加入購物車

            article.storeCard(href="#")
                button.btn.storeCard__heart(x-data="{ liked: false }")
                    span(x-show="liked" @click="liked = !liked") ♥
                    span(x-show="!liked" @click="liked = !liked") ♡

                img.storeCard__img(width="300" height="120" src="img/product_1.png", alt="經典漢堡套餐")
                .storeCard__content
                    a(href="#")
                        h3.storeCard__title
                            | 漢堡兄弟
                            div.storeCard__subtitle Hamburg Brothers
                    .div.storeCard__price 792 $NTD
                    button.btn.btn--cta.btn--ghost.btn--block.storeCard__btn
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="24" width="24"><path d="M7 22Q6.175 22 5.588 21.413Q5 20.825 5 20Q5 19.175 5.588 18.587Q6.175 18 7 18Q7.825 18 8.412 18.587Q9 19.175 9 20Q9 20.825 8.412 21.413Q7.825 22 7 22ZM17 22Q16.175 22 15.588 21.413Q15 20.825 15 20Q15 19.175 15.588 18.587Q16.175 18 17 18Q17.825 18 18.413 18.587Q19 19.175 19 20Q19 20.825 18.413 21.413Q17.825 22 17 22ZM6.15 6 8.55 11H15.55Q15.55 11 15.55 11Q15.55 11 15.55 11L18.3 6Q18.3 6 18.3 6Q18.3 6 18.3 6ZM5.2 4H19.95Q20.625 4 20.875 4.5Q21.125 5 20.85 5.55L17.3 11.95Q17.025 12.45 16.575 12.725Q16.125 13 15.55 13H8.1L7 15Q7 15 7 15Q7 15 7 15H19V17H7Q5.875 17 5.3 16.012Q4.725 15.025 5.25 14.05L6.6 11.6L3 4H1V2H4.25ZM8.55 11H15.55Q15.55 11 15.55 11Q15.55 11 15.55 11Z"/></svg>
                        | 加入購物車

            article.storeCard(href="#")
                button.btn.storeCard__heart(x-data="{ liked: false }")
                    span(x-show="liked" @click="liked = !liked") ♥
                    span(x-show="!liked" @click="liked = !liked") ♡

                img.storeCard__img(width="300" height="120" src="img/product_1.png", alt="經典漢堡套餐")
                .storeCard__content
                    a(href="#")
                        h3.storeCard__title
                            | 完美願望
                            div.storeCard__subtitle Dragon Ball Package
                    .div.storeCard__price 900 $NTD
                    button.btn.btn--cta.btn--ghost.btn--block.storeCard__btn
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="24" width="24"><path d="M7 22Q6.175 22 5.588 21.413Q5 20.825 5 20Q5 19.175 5.588 18.587Q6.175 18 7 18Q7.825 18 8.412 18.587Q9 19.175 9 20Q9 20.825 8.412 21.413Q7.825 22 7 22ZM17 22Q16.175 22 15.588 21.413Q15 20.825 15 20Q15 19.175 15.588 18.587Q16.175 18 17 18Q17.825 18 18.413 18.587Q19 19.175 19 20Q19 20.825 18.413 21.413Q17.825 22 17 22ZM6.15 6 8.55 11H15.55Q15.55 11 15.55 11Q15.55 11 15.55 11L18.3 6Q18.3 6 18.3 6Q18.3 6 18.3 6ZM5.2 4H19.95Q20.625 4 20.875 4.5Q21.125 5 20.85 5.55L17.3 11.95Q17.025 12.45 16.575 12.725Q16.125 13 15.55 13H8.1L7 15Q7 15 7 15Q7 15 7 15H19V17H7Q5.875 17 5.3 16.012Q4.725 15.025 5.25 14.05L6.6 11.6L3 4H1V2H4.25ZM8.55 11H15.55Q15.55 11 15.55 11Q15.55 11 15.55 11Z"/></svg>
                        | 加入購物車



            article.storeCard(href="#")
                button.btn.storeCard__heart(x-data="{ liked: false }")
                    span(x-show="liked" @click="liked = !liked") ♥
                    span(x-show="!liked" @click="liked = !liked") ♡

                img.storeCard__img(width="300" height="120" src="img/product_1.png", alt="經典漢堡套餐")
                .storeCard__content
                    a(href="#")
                        h3.storeCard__title
                            | 經典漢堡套餐
                            div.storeCard__subtitle Classic Hamburger Package
                    .div.storeCard__price 300 $NTD
                    button.btn.btn--cta.btn--ghost.btn--block.storeCard__btn
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="24" width="24"><path d="M7 22Q6.175 22 5.588 21.413Q5 20.825 5 20Q5 19.175 5.588 18.587Q6.175 18 7 18Q7.825 18 8.412 18.587Q9 19.175 9 20Q9 20.825 8.412 21.413Q7.825 22 7 22ZM17 22Q16.175 22 15.588 21.413Q15 20.825 15 20Q15 19.175 15.588 18.587Q16.175 18 17 18Q17.825 18 18.413 18.587Q19 19.175 19 20Q19 20.825 18.413 21.413Q17.825 22 17 22ZM6.15 6 8.55 11H15.55Q15.55 11 15.55 11Q15.55 11 15.55 11L18.3 6Q18.3 6 18.3 6Q18.3 6 18.3 6ZM5.2 4H19.95Q20.625 4 20.875 4.5Q21.125 5 20.85 5.55L17.3 11.95Q17.025 12.45 16.575 12.725Q16.125 13 15.55 13H8.1L7 15Q7 15 7 15Q7 15 7 15H19V17H7Q5.875 17 5.3 16.012Q4.725 15.025 5.25 14.05L6.6 11.6L3 4H1V2H4.25ZM8.55 11H15.55Q15.55 11 15.55 11Q15.55 11 15.55 11Z"/></svg>
                        | 加入購物車

