section.sectionChef
    .sectionChef__inner
        img.sectionChef__img(width="470" height="460" src="/img/main_chef_brown.png", alt="主廚圖片")

        .sectionChef__description
            h2.sectionChef__heading 今日主廚：帕金森、梅在帕
                br
                span.sectionChefHeading__subtitle Tody Chef: Plum in Shock

            p Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien. Pellentesque orci lectus, consectetur vel posuere posuere, rutrum eu ipsum. Aliquam eget odio sed ligula iaculis consequat at eget orci. Mauris molestie sit amet metus mattis varius. Donec sit amet ligula eget nisi sodales egestas. Aliquam interdum dolor aliquet dolor sollicitudin fermentum. Donec congue lorem a molestie bibendum.