section.sectionFeedback 
    .container
        h2.sectionHeading 聽聽別人的感想

        ul.feedbackCardWrapper 
            li.feedbackCard
                img.feedbackCard__img(width="67" height="67" src="/img/avatar_1.png", alt="產品經理人像照片")
                
                h3.feedbackCard__heading 高雄一口吃
                p.feedbackCard__paragraph 自從吃了這家餐廳以後，我口水連續流了一個多月都沒停，下次不要再被我遇到，不然我一定連他們桌子都啃下去。
                p.feedbackCard__cite  -- 產品經理

            li.feedbackCard
                img.feedbackCard__img(width="67" height="67" src="/img/avatar_2.png", alt="金身道士人像照片")
                
                h3.feedbackCard__heading 高雄一口吃
                p.feedbackCard__paragraph 自從吃了這家餐廳以後，我口水連續流了一個多月都沒停，下次不要再被我遇到，不然我一定連他們桌子都啃下去。
                p.feedbackCard__cite   -- 金身道士

            li.feedbackCard
                img.feedbackCard__img(width="67" height="67" src="/img/avatar_3.png", alt="美麗萬分照片")
                
                h3.feedbackCard__heading 高雄一口吃
                p.feedbackCard__paragraph 自從吃了這家餐廳以後，我口水連續流了一個多月都沒停，下次不要再被我遇到，不然我一定連他們桌子都啃下去。
                p.feedbackCard__cite  -- 美麗萬分




