section.sectionLogin
    form.loginForm
        h2 登入網站 
        label(for="email") 電子信箱
        input(id="email" type="email" placeholder="請輸入您的電子信箱")
        label(for="password") 密碼
        input(id="password" type="password" placeholder="請輸入您的密碼")
        a.forgetPassword(href="#") 忘記密碼？ 
        .btnGroup
            btn.btn.btn--cancel.btn--block 註冊
            btn.btn.btn--cta.btn--block 登入
