section.sectionAbout
    .container
        div.sectionAbout__headingWrapper
            h2.sectionAbout__heading.sectionHeading 客人總是在詢問<br>「這麼好吃的秘訣是什麼？」
        ul.aboutCardWrapper
            li.aboutCard
                img.aboutCard__img(width="200" height="200" src="/img/feature_1.png", alt="蔬果擺放在桌上")
                h3.aboutCard__heading 台灣本土蔬菜
                p.aboutCard__paragraph In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris.
            li.aboutCard
                img.aboutCard__img(width="200" height="200" src="/img/feature_2.png", alt="蔬果擺放在桌上")
                h3.aboutCard__heading 台灣本土蔬菜
                p.aboutCard__paragraph In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris.
            li.aboutCard
                img.aboutCard__img(width="200" height="200" src="/img/feature_3.png", alt="蔬果擺放在桌上")
                h3.aboutCard__heading 台灣本土蔬菜
                p.aboutCard__paragraph In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris.